@page "/Players"
@attribute [Authorize(Roles = "SuperAdmin, Admin")]

@using Imgeneus.World.Game
@using Imgeneus.World.Game.Player

@inject IGameWorld _gameWorld
@inject NavigationManager _navigationManager

<PageTitle>Players</PageTitle>

@if (_players == null)
{
    <p><em>Loading...</em></p>
}
else
{
    @if (_players.Count == 0)
    {
        <h4>No players yet.</h4>
    }
    else
    {
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Class</th>
                    <th>Map</th>
                    <th>X</th>
                    <th>Y</th>
                    <th>Z</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var player in _players)
                {
                    <tr class="character-row" @onclick="@(() => @RedirectToPlayerPage(@player))">
                        <td>@player.Id</td>
                        <td>@player.AdditionalInfoManager.Name</td>
                        <td>@player.AdditionalInfoManager.Class</td>
                        <td>@player.MapProvider.NextMapId</td>
                        <td>@player.MovementManager.PosX</td>
                        <td>@player.MovementManager.PosY</td>
                        <td>@player.MovementManager.PosZ</td>
                    </tr>
                }
            </tbody>
        </table>
    }
}

@code {

    private IList<Character> _players;

    protected override void OnInitialized()
    {
        InitPlayers();
    }

    private void InitPlayers()
    {
        var players = new List<Character>();
        players.AddRange(_gameWorld.Players.Values);

        _players = players;
    }

    private void RedirectToPlayerPage(Character player)
    {
        _navigationManager.NavigateTo($"Players/{player.Id}");
    }
}

<style>
    .character-row {
        cursor: pointer;
    }
</style>

